<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
		<base href="http://www.paladonsystems.com/news/newsletters/newsletter-archives/archive/view/listid-2-paladon-systems-news/mailid-30-paladon-systems-news-july-2015/tmpl-component" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Paladon Systems, Paladon Systems News, Paladon Systems Newsletter, valve automation, valve actuators" />
	<meta name="description" content="Welcome to Paladon Systems quarterly newsletter." />
	<title>Paladon Systems News - July 2015</title>
	<link href="/templates/jsn_teki_pro/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="/components/com_imageshow/assets/css/style.css" />
<link rel="stylesheet" href="/media/jui/css/bootstrap.min.css" />
<link rel="stylesheet" href="/media/jui/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/media/jui/css/bootstrap-extended.css" />
<link rel="stylesheet" href="/plugins/system/jsntplframework/assets/3rd-party/bootstrap/css/bootstrap-frontend.min.css" />
<link rel="stylesheet" href="/templates/system/css/system.css" />
<link rel="stylesheet" href="/templates/jsn_teki_pro/css/template.css" />
<link rel="stylesheet" href="/templates/jsn_teki_pro/css/colors/red.css" />
<link rel="stylesheet" href="/templates/jsn_teki_pro/css/styles/business.css" /><meta name="google-site-verification" content="" />

</head>
<body class="contentpane" id="jsn-content-popup"><!-- Copyright (c) OpenGlobal. GNU/GPL V3 licence. You may copy and modify this, providing the link to http://www.openglobal.co.uk remains intact. -->
<div id="openglobal_privacy_widget" style="display: inline; text-align:right; font-size: 13px; line-height: 100%; position: fixed; top: 0; right: 0; margin: 0; padding: 0 0 0 3px; background: #dddddd; z-index: 100000; opacity:0.9; filter: alpha(opacity=90);">
Accept <a title="This website uses cookies to store information on your computer. Some of these cookies are used for visitor analysis, others may be necessary for the website to function properly. You should configure your browser to only accept the cookies you wish to approve, or leave this website." rel="privacy" href="/">Cookies</a>?
<button id="openglobal_privacy_accept" style="vertical-align: middle;" onclick="openglobal_privacy_accept();return false;">Yes</button>
<button id="openglobal_privacy_wait" style="vertical-align: middle;" onclick="clearTimeout(openglobal_privacy_timer);return false;">Wait</button>
<button id="openglobal_privacy_leave" style="vertical-align: middle;" onclick="window.location='http://www.change.org/petitions/stop-the-eu-s-legal-war-on-web-cookies';">Leave</button>
<br />
<span style="font-size: 9px">Provided by <a href="http://www.openglobal.co.uk" title="OpenGlobal e-commerce web design and promotion">OpenGlobal E-commerce</a></span>
</div>
	<div id="system-message-container">
	</div>

	<div id="acyarchiveview">
<div><h1 class="contentheading">Paladon Systems News - July 2015	</h1>
		<div align="right" style="float:right;">
		<table>
		<tr>
			<td class="buttonheading">
				<a title="Print" href="#" onclick="if(document.getElementById('iframepreview')){document.getElementById('iframepreview').contentWindow.focus();document.getElementById('iframepreview').contentWindow.print();}else{window.print();}return false;"><img src="/media/com_acymailing/images/icons/icon-32-acyprint.png" alt="Print" /></a>

		</td>
			</tr></table>
	</div>
	</div>
<div class="newsletter_body" style="min-width:600px" id="newsletter_preview_area"><p style="text-align: center;">
	<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><span class="acymailing_online">Having trouble reading this newsletter?&nbsp;<a href="http://www.paladonsystems.com/news/newsletters/newsletter-archives/archive/view/mailid-30/key-9e0453f2bae03e651335586dc4061dea/tmpl-component" target="_blank">Click here to view it online</a></span></span></span></p>
<table align="center" border="0" cellpadding="5" cellspacing="0" style="width: 600px;">
	
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px;">
				<a href="http://www.paladonsystems.com" target="_blank"><img width="600"  height="120"  alt="Paladon Systems Newsletter" class="cke-resize" src="http://www.paladonsystems.com/images/newsletter/new/new_newsletter_header1.png" style="width: 600px; height: 120px;" /></a></td>
		</tr>
		<tr>
			<td style="width: 191px;">
				<a href="https://www.facebook.com/paladonsystems?ref_type=bookmark" target="_blank"><img width="24"  height="24"  alt="Follow us on Facebook" src="http://www.paladonsystems.com/images/newsletter/new/facebook.png" style="width: 24px; height: 24px;" /></a>&nbsp;<a href="https://twitter.com/paladonsys" target="_blank"><img width="24"  height="24"  alt="Follow us on Twitter" src="http://www.paladonsystems.com/images/newsletter/new/twitter.png" style="width: 24px; height: 24px;" /></a>&nbsp;<a href="https://www.linkedin.com/company/paladon-systems-ltd." target="_blank"><img width="24"  height="24"  alt="Follow us on LinkedIn" src="http://www.paladonsystems.com/images/newsletter/new/linkedin.png" style="width: 24px; height: 24px;" /></a></td>
			<td colspan="2" style="text-align: right; width: 397px;">
				<span style="font-size:14px;"><strong><span style="font-family: arial, helvetica, sans-serif;">July 2015, Issue 19</span></strong></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px;">
				<img width="600"  height="29"  alt="" src="http://www.paladonsystems.com/images/newsletter/new/md_message_section_header.png" style="width: 600px; height: 29px;" /></td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: justify;">
				<p>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><img width="150"  height="365"  alt="Paladon Systems' Managing Director Brian Ennever" class="cke-resize cke-resize cke-resize cke-resize cke-resize cke-resize cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/benneverjuly2015.png"  align="left" hspace="5" style="float: left; margin-left: 5px; margin-right: 5px; width: 150px; height: 365px;" />Dear&nbsp;Visitor,</span></span></p>
				<div>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">We are now in the final quarter of our Financial Year and, while it will not be another record breaker as we&rsquo;ve enjoyed for the last three years, the result we anticipate is quite reasonable given the current trading situation.</span></span></div>
					<div>
						&nbsp;</div>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">The past few months have been busy with trips to Kuala Lumpur, Tehran and two days at the Industrial Valve Summit in Bergamo, Italy. The highlight of the Malaysian Oil and Gas Show was the formal signing of an agreement with our local business partner <a href="http://www.songket-petroleum.com/" target="_blank">Songket Petroleum</a>. The signing was witnessed by several senior managers of Petronas who have recently granted us our local manufacturing licence.&nbsp;</span></span></div>
					<div>
						&nbsp;</div>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">By way of relaxation we enjoyed the company of customers at the British Open Golf at St Andrews last weekend. Although the weather conspired against us and no actual golf was played, we managed to thoroughly enjoy a very sociable day.</span></span></div>
					<div>
						&nbsp;</div>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">I thank you all for your continued support which is enabling us to further invest in technology and resources. I look forward to being in contact with you again in our October newsletter.</span></span></div>
				</div>
				<div>
					&nbsp;</div>
				<div>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="line-height: 1.5;">Brian Ennever</span></span></span></div>
			</td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px;">
				<img width="600"  height="29"  alt="" class="cke-resize" src="http://www.paladonsystems.com/images/newsletter/new/latest_news_section_header.png" style="width: 600px; height: 29px;" /></td>
		</tr>
		<tr>
			<td colspan="3">
				<img width="150"  height="156"  alt="First major contract for compact electro-hydraulic systems" class="cke-resize cke-resize cke-resize cke-resize cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/firstmajorcontract.png"  align="left" hspace="5" style="float: left; margin-left: 5px; margin-right: 5px; height: 156px; width: 150px;" />
				<div style="text-align: justify;">
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>First Major Contract for Compact Electro-Hydraulic Systems</strong></span></span></div>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">After first unveiling the technology at Valve World last December, Paladon Systems has been awarded an order for 154 compact linear ring-main electro-hydraulic systems. These ultra-compact systems feature an integrated positioner and feedback transducer and will provide positional choke valve control as well as a fail-safe mode on loss of either the command signal or electrical power supply. Business &amp; Product Development Manager <a href="mailto:mike.northwood@paladonsystems.com">Mike Northwood</a>, &ldquo;<em>Following the successful recent delivery to Koso of the World&rsquo;s first hydraulic positioning systems with <a href="http://www.fieldbus.org/" target="_blank">Foundation Fieldbus</a> communications, we are pleased that Koso has also trusted us with this prestigious contract.</em>&rdquo;</span></span></div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong style="line-height: 1.5; font-family: arial, helvetica, sans-serif; text-align: justify;"><img width="150"  height="104"  alt="" class="cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/newproductvideoreleased.png"  align="left" hspace="5" style="width: 150px; height: 104px; margin-left: 5px; margin-right: 5px; float: left;" />Latest Product Video Released</strong></span></span></div>
				<div>
					<div style="text-align: justify;">
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">With the recent significant orders for Paladon Systems&rsquo; Compact Linear Self-Contained Electro-Hydraulic systems, we thought our clients would like to learn more about them. The 4 minute video provides a high level overview of the features of this innovative technology and the numerous benefits it offers end users.&nbsp;<a href="http://youtu.be/EQ0kUEUfgQg" style="line-height: 1.5;" target="_blank">Watch the video</a><span style="line-height: 1.5;">.</span></span></span></div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div style="text-align: justify;">
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong><img width="150"  height="130"  alt="" class="cke-resize cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/ffsystems1.png"  align="left" hspace="5" style="width: 150px; height: 130px; margin-left: 5px; margin-right: 5px; float: left;" />World&rsquo;s First Foundation Fieldbus Electro-Hydraulic Systems Delivered</strong></span></span></div>
				<div style="text-align: justify;">
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">Mounted horizontally and fitted to 6&rdquo; Class 1500 and 12&rdquo; Class 900 choke valves, these 94 ring-main electro-hydraulic systems will be providing stepping valve control with an accuracy of &plusmn;0.5%. Senior Sales Engineer <a href="mailto:kalam.mohammad@paladonsystems.com">Kalam Mohammad</a>, &ldquo;<em>This was our first major order with Koso and we are delighted that we have successfully delivered these systems and also gained yet another engineering first in valve automation.</em>&rdquo; Find out more about <a href="http://www.koso.co.in/" target="_blank">Koso</a> and electro-hydraulic <a href="http://www.paladonsystems.com/products/valve-automation-control-systems/valve-positioning-control-systems" target="_blank">valve positioning systems</a>.</span></span></div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div style="text-align: justify;">
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Hydrocarbon Engineering Magazine Article<a href="http://www.paladonsystems.com/images/press_articles/Hydrocarbon_Engineering_-_July_2015.pdf"><img width="150"  height="122"  alt="Hydrocarbon Engineering Magazine Article" class="cke-resize" src="http://www.paladonsystems.com/images/newsletter/nlhydrocarbonengineeringjuly.png"  align="left" hspace="5" style="float: left; margin-left: 5px; margin-right: 5px; width: 150px; height: 122px;" /></a></strong></span></span>
					<div>
						<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">July&#39;s edition of <a href="http://www.energyglobal.com/magazines/latestissue/hydrocarbon-engineering.aspx">Hydrocarbon Engineering</a> magazine includes a &quot;Pumps, Valves and Seals Review&quot; section that covers the latest advancements in technology that incorporates these product types. Paladon Systems was asked to contribute to this special magazine edition and we thought the readers would like to know more about the benefits of advanced self-contained electro-hydraulic systems. <a href="http://www.paladonsystems.com/images/press_articles/Hydrocarbon_Engineering_-_July_2015.pdf">Read the article</a>.</span></span></div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: justify;">
				<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong style="font-family: arial, helvetica, sans-serif; line-height: 1.5;">11 Years of Global Field Service Experience Added to Engineering</strong><a href="http://www.paladonsystems.com/news/general/321-promotion"><img width="150"  height="151"  alt="11 Years of Global Field Service Experience Added to Engineering" class="cke-resize cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/nlstevepiperpromo.png"  align="left" hspace="5" style="margin-left: 5px; margin-right: 5px; float: left; width: 150px; height: 151px;" /></a></span></span>
				<div>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">After 11 years&rsquo; experience as a Workshop Technician and Site Services Technician at Paladon Systems, we are pleased to announce that <a href="mailto:steve.piper@paladonsystems.com">Steve Piper</a> recently has been promoted to the position of Design Engineer. Engineering Director <a href="mailto:brian.simister@paladonsystems.com">Brian Simister</a>, &ldquo;<em>Steve&rsquo;s hands-on and global field experience gives him excellent insight into the operational challenges and needs of our customers. His experience will be invaluable in helping us further develop our product ranges to ensure that they continue to meet or exceed our customers&rsquo; expectations; particularly with respect to reliability and low maintenance requirements.</em>&rdquo;</span></span></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: justify;">
				<a href="http://www.paladonsystems.com/news/general/319-new-hire"><img width="150"  height="104"  alt="New Accounting Hire" class="cke-resize cke-resize cke-resize cke-resize cke-resize" src="http://www.paladonsystems.com/images/newsletter/nloliverhire.png"  align="left" hspace="5" style="margin-left: 5px; margin-right: 5px; float: left; width: 150px; height: 104px;" /></a><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong><span style="line-height: 1.5;">N<span style="line-height: 1.5;">ew Accounting Hire</span></span></strong></span></span>
				<div>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">Paladon Systems is pleased to announce the hire of <a href="mailto:oliver.kularatnam@paladonsystems.com">Oliver Kularatnam</a> in the position of Accounts Apprentice. Currently working towards his AAT Level 3 Intermediate Diploma in Accounting, Oliver currently holds numerous qualifications including Science and Business Level 3 BTEC awards as well as an AAT Level 2 Introductory Certificate in Accounting.</span></span></div>
				<div>
					<span id="cke_bm_116E" style="display: none;">&nbsp;</span></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: justify;">
				<p>
					<span style="line-height: 1.5;"><strong><img width="150"  height="103"  alt="Customer Appreciation Day" class="cke-resize" src="http://www.paladonsystems.com/images/newsletter/144golf.png"  align="left" hspace="5" style="width: 150px; height: 103px; margin-left: 5px; margin-right: 5px; float: left;" /><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">Customer Appreciation Day</span></span></strong><br />
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">High winds greeted us at the <a href="http://www.theopen.com/" target="_blank">144th British Open</a> at St Andrews. Hourly updates were issued from the Organisers but it was 6.00pm before there was any play. We did manage to see some high profile players including the eventual winner Zach Johnson on the 16th and 17th holes. For the golfing purists it was not a good day, however, for the Paladon Systems table, we had a great time!</span></span></span></p>
			</td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px;">
				<img width="600"  height="29"  alt="" src="http://www.paladonsystems.com/images/newsletter/new/product_links_section_header.png" style="width: 600px; height: 29px;" /></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<a href="http://www.paladonsystems.com/products/valve-actuators" target="_blank"><img width="190"  height="91"  alt="Paladon Systems Valve Actuators" src="http://www.paladonsystems.com/images/newsletter/new/valve_actuators_header.png" style="width: 190px; height: 91px;" /></a></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<a href="http://www.paladonsystems.com/products/valve-automation-control-systems" target="_blank"><img width="190"  height="91"  alt="Paladon Systems Control Systems" src="http://www.paladonsystems.com/images/newsletter/new/control_systems_header.png" style="width: 190px; height: 91px;" /></a></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<a href="http://www.paladonsystems.com/products/other-solutions" target="_blank"><img width="190"  height="91"  alt="Paladon Systems Other Solutions" class="cke-resize" src="http://www.paladonsystems.com/images/newsletter/new/other_header.png" style="width: 190px; height: 91px;" /></a></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Valve Actuators</strong></span></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Control Systems</strong></span></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Other Solutions&nbsp;</strong></span></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><span style="font-family: arial, helvetica, sans-serif;"><a href="http://www.paladonsystems.com/products/valve-actuators/scotch-yoke-valve-actuators" target="_blank">Quarter-Turn</a> (Scotch-Yoke)</span></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/self-contained-electro-hydraulic-control-systems" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Self-Contained Electro-Hydraulic</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/other-solutions/pst-controller" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">PST Controllers</span></a></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><span style="font-family: arial, helvetica, sans-serif;"><a href="http://www.paladonsystems.com/products/valve-actuators/linear-valve-actuators" target="_blank">Linear</a> (Piston)</span></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/self-contained-electro-hydraulic-control-systems" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Positioning</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/other-solutions/tvc-positioner" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">TVC Positioners</span></a></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-actuators/gas-over-oil-valve-actuators" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Gas-Over-Oil</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/hydraulic-power-units" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Hydraulic Power Units</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/other-solutions/oxygen-and-natural-gas-odorisers" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Gas Odourisers</span></a></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-actuators/direct-gas-valve-actuators" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Direct Gas</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/turbine-bypass-control-systems" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Turbine Bypass</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/other-solutions/in-line-pipeline-strainers" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Pipeline Strainers</span></a></span></td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-actuators/subsea-valve-actuators" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Subsea</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/hipps" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">HIPPS</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				&nbsp;</td>
		</tr>
		<tr style="line-height: 0px;">
			<td style="line-height: 0px; vertical-align: top; width: 191px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-actuators/electric-valve-actuators" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Electric</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 189px;">
				<span style="font-size:12px;"><span style="color: rgb(255, 0, 0); font-family: arial, helvetica, sans-serif;">►</span><a href="http://www.paladonsystems.com/products/valve-automation-control-systems/autonomous-shutdown-valve" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">Autonomous Shutdown Valves</span></a></span></td>
			<td style="line-height: 0px; vertical-align: top; width: 197px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">
				<hr />
			</td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px;">
				<a href="http://www.paladonsystems.com/downloads/certificates" target="_blank"><img width="600"  height="77"  alt="Paladon Systems Certification" src="http://www.paladonsystems.com/images/newsletter/new/newsletter_footer.png" style="width: 600px; height: 77px;" /></a></td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px; text-align: center;">
				<hr />
			</td>
		</tr>
		<tr style="line-height: 0px;">
			<td colspan="3" style="line-height: 0px; text-align: center;">
				<p>
					<span style="font-size:12px;"><span style="font-family: arial, helvetica, sans-serif; line-height: normal;">You have received this newsletter as you have previously expressed an interest in Paladon Systems. Should you wish to unsubscribe from this newsletter, you can do so by&nbsp;</span><span style="font-family: arial, helvetica, sans-serif;"></span><span style="font-family: arial, helvetica, sans-serif; line-height: normal;">.</span></span></p>
				<p>
					<span style="font-size:12px;"><strong style="font-family: arial, helvetica, sans-serif;">Paladon Systems Ltd. Ferro Fields, Brixworth, Northamptonshire, NN6 9UA, England</strong></span></p>
				<p>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong style="font-family: arial, helvetica, sans-serif;">Tel. +44 (0)1604 880700 Fax. +44 (0)1604 882424</strong></span></span></p>
				<p>
					<span style="font-size:12px;"><strong style="font-family: arial, helvetica, sans-serif;"><a href="mailto:info@paladonsystems.com">info@paladonsystems.com</a></strong></span></p>
				<p>
					<span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong style="font-family: arial, helvetica, sans-serif;"><a href="http://www.paladonsystems.com/" style="font-family: arial, helvetica, sans-serif;" target="_blank">www.paladonsystems.com</a></strong></span></span></p>
			</td>
		</tr>
	
</table>
<div id="ckimgrsz" style="left: 12px; top: 293px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 7px; top: 525px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 7px; top: 68px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 601px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 601px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 415px; top: 1682px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 259px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 287px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 287px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 702px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 863px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1913px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 858px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1652px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1652px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 872px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 716px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 716px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1962px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 259px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 259px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 2036px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1670px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 2000px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 2000px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1808px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1442px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 259px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 259px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1119px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1119px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1012px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 7px; top: 1474px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1012px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1132px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1132px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 856px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 12px; top: 1605px;">
	<div class="preview">
		&nbsp;</div>
</div><img class="spict" alt="" src="http://www.paladonsystems.com/media/com_acymailing/images/statpicture.png"  border="0"  height="1"  width="50" /></div>
</div>

<script src="/media/com_acymailing/js/acymailing.js?v=450" type="text/javascript"></script>
<script src="/media/com_acymailing/js/acymailing_compat.js?v=450" type="text/javascript"></script>
<script src="/media/system/js/mootools-core.js" type="text/javascript"></script>
<script src="/media/system/js/core.js" type="text/javascript"></script>
<script src="/media/system/js/mootools-more.js" type="text/javascript"></script><script type="text/javascript">
var iframecreated = false;
				function acydisplayPreview(){
					var d = document, area = d.getElementById('newsletter_preview_area');
					if(!area) return;
					if(iframecreated) return;
					iframecreated = true;
					var content = area.innerHTML;
					var myiframe = d.createElement("iframe");
					myiframe.id = 'iframepreview';
					myiframe.style.width = '100%';
					myiframe.style.borderWidth = '0px';
					myiframe.allowtransparency = "true";
					myiframe.frameBorder = '0';
					area.innerHTML = '';
					area.appendChild(myiframe);
					myiframe.onload = function(){
						var iframeloaded = false;
						try{
							if(myiframe.contentDocument != null && initIframePreview(myiframe,content) && replaceAnchors(myiframe)){
								iframeloaded = true;
							}
						}catch(err){
							iframeloaded = false;
						}

						if(!iframeloaded){
							area.innerHTML = content;
						}
					}
					myiframe.src = '';

				}
				function resetIframeSize(myiframe){


					var innerDoc = (myiframe.contentDocument) ? myiframe.contentDocument : myiframe.contentWindow.document;
					var objToResize = (myiframe.style) ? myiframe.style : myiframe;
					if(objToResize.width != '100%') return;
					var newHeight = innerDoc.body.scrollHeight;
					if(!objToResize.height || parseInt(objToResize.height,10)+10 < newHeight || parseInt(objToResize.height,10)-10 > newHeight) objToResize.height = newHeight+'px';
					setTimeout(function(){resetIframeSize(myiframe);},1000);
				}
				function replaceAnchors(myiframe){
					var myiframedoc = myiframe.contentWindow.document;
					var myiframebody = myiframedoc.body;
					var el = myiframe;
					var myiframeOffset = el.offsetTop;
					while ( ( el = el.offsetParent ) != null )
					{
						myiframeOffset += el.offsetTop;
					}

					var elements = myiframebody.getElementsByTagName("a");
					for( var i = elements.length - 1; i >= 0; i--){
						var aref = elements[i].getAttribute('href');
						if(!aref) continue;
						if(aref.indexOf("#") != 0 && aref.indexOf("http://www.paladonsystems.com/news/newsletters/newsletter-archives/archive/view/listid-2-paladon-systems-news/mailid-30-paladon-systems-news-july-2015/tmpl-component#") != 0) continue;

						if(elements[i].onclick && elements[i].onclick != "") continue;

						var adest = aref.substring(aref.indexOf("#")+1);
						if( adest.length < 1 ) continue;

						elements[i].dest = adest;
						elements[i].onclick = function(){
							elem = myiframedoc.getElementById(this.dest);
							if(!elem){
								elems = myiframedoc.getElementsByName(this.dest);
								if(!elems || !elems[0]) return false;
								elem = elems[0];
							}
							if( !elem ) return false;

							var el = elem;
							var elemOffset = el.offsetTop;
							while ( ( el = el.offsetParent ) != null )
							{
								elemOffset += el.offsetTop;
							}
							window.scrollTo(0,elemOffset+myiframeOffset-15);
							return false;
						};
					}
					return true;
				}
				function initIframePreview(myiframe,content){
					var d = document;

					var heads = myiframe.contentWindow.document.getElementsByTagName("head");
					if(heads.length == 0){
						return false;
					}

					var head = heads[0];

					var myiframebodys = myiframe.contentWindow.document.getElementsByTagName('body');
					if(myiframebodys.length == 0){
						var myiframebody = d.createElement("body");
						myiframe.appendChild(myiframebody);
					}else{
						var myiframebody = myiframebodys[0];
					}
					if(!myiframebody) return false;
					myiframebody.style.margin = '0px';
					myiframebody.style.padding = '0px';
					myiframebody.innerHTML = content;

					var title1 = d.createElement("title");
					title1.innerHTML = 'Paladon Systems News - July 2015';


					var base1 = d.createElement("base");
					base1.target = "_blank";

					head.appendChild(base1);

					var existingTitle = head.getElementsByTagName("title");
					if(existingTitle.length == 0){
						head.appendChild(title1);
					}
				var style1 = d.createElement("style");
				style1.type = "text/css";
				style1.id = "overflowstyle";
				try{style1.innerHTML = 'html,body,iframe{overflow-y:hidden} ';}catch(err){style1.styleSheet.cssText = 'html,body,iframe{overflow-y:hidden} ';}
				try{style1.innerHTML += ' .hideonline{display:none;} ';}catch(err){style1.styleSheet.cssText += ' .hideonline{display:none;} ';}
				head.appendChild(style1);
				resetIframeSize(myiframe);
				return true;
			}
			window.addEvent('domready', function(){acydisplayPreview();} );function previewResize(newWidth,newHeight){
			if(document.getElementById('iframepreview')){
				var myiframe = document.getElementById('iframepreview');
			}else{
				var myiframe = document.getElementById('newsletter_preview_area');
			}
			myiframe.style.width = newWidth;
			if(newHeight == '100%'){
				resetIframeSize(myiframe);
			}else{
				myiframe.style.height = newHeight;
				myiframe.contentWindow.document.getElementById('overflowstyle').media = "print";
			}
		}
		function previewSizeClick(elem){
			var ids = new Array('preview320','preview480','preview768','previewmax');
			for(var i=0;i<ids.length;i++){
				document.getElementById(ids[i]).className = 'previewsize '+ids[i];
			}
			elem.className += 'enabled';
		}function switchPict(){
			var myiframe = document.getElementById('iframepreview');
			var myiframebody = myiframe.contentWindow.document.getElementsByTagName('body')[0];
			if(document.getElementById('previewpict').className == 'previewsize previewpictenabled'){
				remove = true;
				document.getElementById('previewpict').className = 'previewsize previewpict';
			}else{
				remove = false;
				document.getElementById('previewpict').className = 'previewsize previewpictenabled';
			}
			var elements = myiframebody.getElementsByTagName("img");
			for( var i = elements.length - 1; i >= 0; i-- ) {
				if(remove){
					elements[i].src_temp = elements[i].src;
					elements[i].src = 'pictureremoved';
				}else{
					elements[i].src = elements[i].src_temp;
				}
			}
			if(myiframe.style.width == '100%'){
				resetIframeSize(myiframe);
			}
		}
	;

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-18847289-1']);
 _gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_trackPageview']);
					
 (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
;

//<![CDATA[
var openglobal_privacy_timeout = 10;
var openglobal_privacy_functions = [];

var openglobal_privacy_widget = document.getElementById('openglobal_privacy_widget');
var results = document.cookie.match ( '(^|;) ?openglobal_privacy_widget=([^;]*)(;|$)' );
if (results) {
  if (1 == unescape(results[2])) {
    openglobal_privacy_accept();
  }
} else {
  window.onload = function() {
    for (var i = 0; i < document.links.length; i++) {
      var link_href = document.links[i].getAttribute('href');
      if ('privacy' != document.links[i].getAttribute('rel') && (!/^[\w]+:/.test(link_href) || (new RegExp('^[\w]+://[\w\d\-\.]*' + window.location.host)).test(link_href))) {
        var current_onclick = document.links[i].onclick;
document.links[i].onclick = function() {openglobal_privacy_accept();if (Object.prototype.toString.call(current_onclick) == '[object Function]') {current_onclick();}};
      }
    }
  };
}

var openglobal_privacy_timer;
if (openglobal_privacy_timeout > 0) {
   openglobal_privacy_timer = setTimeout('openglobal_privacy_tick()', 1000);
} else {
  var openglobal_privacy_wait = document.getElementById('openglobal_privacy_wait');
  if (null != openglobal_privacy_wait) {
    openglobal_privacy_wait.parentNode.removeChild(openglobal_privacy_wait);
  }
}
function openglobal_privacy_tick() {
  if (0 >= --openglobal_privacy_timeout) {
    openglobal_privacy_accept();
    return;
  }
  var openglobal_privacy_accept_button = document.getElementById('openglobal_privacy_accept');
  if (null != openglobal_privacy_accept_button) {
    openglobal_privacy_accept_button.innerHTML = 'Yes (' + openglobal_privacy_timeout + ')';
    openglobal_privacy_timer = setTimeout('openglobal_privacy_tick()', 1000);
  }
}

function openglobal_privacy_accept() {
  clearTimeout(openglobal_privacy_timer);
  document.cookie = 'openglobal_privacy_widget=1; path=/; expires=Mon, 18 Jan 2038 03:14:00 GMT';
  openglobal_privacy_widget.parentNode.removeChild(openglobal_privacy_widget);
  for (var i = 0; i < openglobal_privacy_functions.length; i++) {
    openglobal_privacy_functions[i]();
  }
}
//]]>
</script></body>
</html>