.jsn-joomla-30 .blog-featured .items-leading h2 {
 padding: 0px 0;
 margin: 0px 0;
 } 
.imgfooter{
  background-repeat: repeat-x;
height: 40px;
background: url('/images/page_headers/page_footer1.png');
}